html {
  font-size: 100%;
}
body {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 1rem;
  color: #3e4247;
  background-image: url('/img/bg.png');
  background-repeat: repeat;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

/* main classes */


.bg-white {
  background: white;
}


/* main nav */
.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaebf0;
  background-color: #fff;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  margin-left: -.5rem;
  padding-top: .3rem;
}
/* links nav */
.links {
  padding-top: .4rem;
  padding-bottom: .4rem;
  text-align: right;
}
.links__item {
  padding-left: 2rem;
  text-decoration: none;
  color: #3e4247;
}
.links__item:hover,
.links__item:active,
.links__item:focus {
}


/* main cards */
.cards {
  padding-bottom: 3rem;
}
.card {
  display: flex;
  height: 21.8rem;
  margin-bottom: 3rem;
  transition: .3s ease-in;
  text-decoration: none;
  color: #3e4247;
  border-bottom: 3px solid #646971;
  background-color: #fff;
}
.card:hover,
.card:active,
.card:focus {
  transition: .3s ease-in;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}

.card__info {
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
}
.card__subtitle {
  font-family: Menlo;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  color: #646971;
}
.card__title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
  padding-bottom: .5rem;
  color: #000;
}
.card__description {
  line-height: 1.5;
  margin: 0;
}


/* main footer */
.footer {
  font-size: .9rem;
  padding: 2.15rem 0;
  color: #a9afb6;
  background-color: #111;
}
.footer__heading {
  margin: 0;
  padding-bottom: .5rem;
}
.footer__heading--border {
  padding-top: 1.1rem;
  padding-bottom: .1rem;
  border-top: 3px solid #3e4247;
}
.footer__text {
  font-size: .6rem;
  margin: 0;
  padding-top: 6rem;
}
.footer__info {
  margin: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
/*   nav */
.footer__link {
  display: block;
  padding-top: .9rem;
  padding-bottom: 0rem;
  text-decoration: none;
  color: #fff;
}
.footer__link:hover,
.footer__link:active,
.footer__link:focus {
  text-decoration: underline;
}
.footer__link--arrow {
  padding-top: 1.2rem;
}



/* complex */
.complex-info {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.complex-info__title {
  font-family: 'Philosopher';
  font-size: 2rem;
  margin: 0;
}
.complex-info__desc {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.57;
  margin: 0;
  padding-top: .5rem;
  padding-bottom: 1rem;
  color: #a9afb6;
}
.complex-info__favorite {
  font-size: .6rem;
  font-weight: 300;
  line-height: 1.0;
  align-self: flex-start;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #00779a;
  border: solid 1px #e0e0e1;
  border-radius: 2px;
}


.complex-photos__wrap {
  display: flex;
  overflow: hidden;
}
.complex-photos__info {
  font-size: .6rem;
  font-weight: 300;
  line-height: 1.0;
  position: absolute;
  margin-top: -2.7rem;
  padding: .5rem 1rem;
  text-decoration: none;
  color: white;
  background-color: #00779a;
}


.compex-available {
  display: flex;
  justify-content: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 1.8rem;
  border-bottom: solid 1px #e0e0e1;
}
.compex-available__item {
  padding-right: 3rem;
}
.compex-available__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
}
.compex-available__subtitle {
  font-family: 'Fira Sans';
  font-size: .875rem;
  font-weight: 300;
  display: block;
  padding-top: .75rem;
  color: #a9afb6;
}

.complex-spec {
  padding-top: 2rem;
}
.complex-spec__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1.2rem;
}
.complex-spec__name {
  margin: 0;
  padding-bottom: .9rem;
  color: #a9afb6;
}
.complex-spec__data {
  font-weight: 500;
  margin: 0;
  padding-bottom: .9rem;
}

.complex-desc {
  padding-top: 2.3rem;
}
.complex-desc__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
}
.complex-desc__content {
  line-height: 1.6;
  margin: 0;
  padding-bottom: 1.5rem;
}

.complex-infra {
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-top: solid 1px #e0e0e1;
}
.complex-infra__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
}

.complex-offers {
  padding: 4rem 0;
  text-align: center;
  background-color: #f4f5f9;
}
.complex-offers__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1.5rem;
}

.complex-card {
  padding: 1.5rem 2rem;
  text-align: left;
  background: #fff;
}
.complex-card__title {
  font-family: 'Philosopher';
  font-size: 1.25rem;
  margin: 0;
  padding-bottom: 1.5rem;
}
.complex-card__info {
  margin: 0;
  padding-bottom: 1.8rem;
}
.complex-card__name {
  display: block;
  padding-bottom: .9rem;
  color: #a9afb6;
}
.complex-card__btn {
  padding-top: .4rem;
  text-align: center;
}


.complex-guide {
  padding: 4rem 0 14rem;
  background-color: #3e4247;
}
.complex-guide__subtitle {
  font-family: 'Philosopher';
  font-size: 1.55rem;
  margin: 0;
  padding-top: 7.4rem;
  padding-bottom: 3rem;
  color: #a9afb6;
}
.complex-guide__title {
  font-family: 'Philosopher';
  font-size: 3rem;
  line-height: 1.25;
  margin: 0;
  padding-bottom: 3rem;
  color: #fff;
}
.complex-guide__link {
  text-decoration: none;
  color: #00779a;
}
.complex-guide__photo {
  height: 560px;
}


.comlex-map {
  margin-top: -10.3rem;
  padding-bottom: 3.5rem;
}
.comlex-map__map {
  height: 306px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
}
.comlex-map__list {
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
}
.comlex-map__item {
  padding: 1.6rem 1.5rem;
  border-bottom: solid 1px #e0e0e1;
}
.comlex-map__name {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: .8rem;
}
.comlex-map__desc {
  margin: 0;
  color: #a9afb6;
}
