html {
  font-size: 100%;
}
body {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 1rem;
  color: #3e4247;
  background-image: url('./img/bg.png');
  background-repeat: repeat;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.bg-white {
  background: white;
}

.cards {
  padding-bottom: 3rem;
}
