/* complex */
.complex-info {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.complex-info__title {
  font-family: 'Philosopher';
  font-size: 2rem;
  margin: 0;
}
.complex-info__desc {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.57;
  margin: 0;
  padding-top: .5rem;
  padding-bottom: 1rem;
  color: #a9afb6;
}
.complex-info__favorite {
  font-size: .6rem;
  font-weight: 300;
  line-height: 1.0;
  align-self: flex-start;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #00779a;
  border: solid 1px #e0e0e1;
  border-radius: 2px;
}


.complex-photos__wrap {
  display: flex;
  overflow: hidden;
}
.complex-photos__info {
  font-size: .6rem;
  font-weight: 300;
  line-height: 1.0;
  position: absolute;
  margin-top: -2.7rem;
  padding: .5rem 1rem;
  text-decoration: none;
  color: white;
  background-color: #00779a;
}


.compex-available {
  display: flex;
  justify-content: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 1.8rem;
  border-bottom: solid 1px #e0e0e1;
}
.compex-available__item {
  padding-right: 3rem;
}
.compex-available__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
}
.compex-available__subtitle {
  font-family: 'Fira Sans';
  font-size: .875rem;
  font-weight: 300;
  display: block;
  padding-top: .75rem;
  color: #a9afb6;
}

.complex-spec {
  padding-top: 2rem;
}
.complex-spec__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1.2rem;
}
.complex-spec__name {
  margin: 0;
  padding-bottom: .9rem;
  color: #a9afb6;
}
.complex-spec__data {
  font-weight: 500;
  margin: 0;
  padding-bottom: .9rem;
}

.complex-desc {
  padding-top: 2.3rem;
}
.complex-desc__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
}
.complex-desc__content {
  line-height: 1.6;
  margin: 0;
  padding-bottom: 1.5rem;
}

.complex-infra {
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-top: solid 1px #e0e0e1;
}
.complex-infra__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
}

.complex-offers {
  padding: 4rem 0;
  text-align: center;
  background-color: #f4f5f9;
}
.complex-offers__title {
  font-family: 'Philosopher';
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1.5rem;
}

.complex-card {
  padding: 1.5rem 2rem;
  text-align: left;
  background: #fff;
}
.complex-card__title {
  font-family: 'Philosopher';
  font-size: 1.25rem;
  margin: 0;
  padding-bottom: 1.5rem;
}
.complex-card__info {
  margin: 0;
  padding-bottom: 1.8rem;
}
.complex-card__name {
  display: block;
  padding-bottom: .9rem;
  color: #a9afb6;
}
.complex-card__btn {
  padding-top: .5rem;
  text-align: center;
}


.complex-guide {
  padding: 4rem 0 14rem;
  background-color: #3e4247;
}
.complex-guide__subtitle {
  font-family: 'Philosopher';
  font-size: 1.55rem;
  margin: 0;
  padding-top: 7.4rem;
  padding-bottom: 3rem;
  color: #a9afb6;
}
.complex-guide__title {
  font-family: 'Philosopher';
  font-size: 3rem;
  line-height: 1.25;
  margin: 0;
  padding-bottom: 3rem;
  color: #fff;
}
.complex-guide__link {
  text-decoration: none;
  color: #00779a;
}
.complex-guide__photo {
  height: 560px;
}


.comlex-map {
  margin-top: -10.3rem;
  padding-bottom: 3.5rem;
}
.comlex-map__map {
  height: 306px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
}
.comlex-map__list {
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
}
.comlex-map__item {
  padding: 1.6rem 1.5rem;
  border-bottom: solid 1px #e0e0e1;
}
.comlex-map__name {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: .8rem;
}
.comlex-map__desc {
  margin: 0;
}
