html {
  font-size: 100%;
}
body {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 1rem;
  color: #3e4247;
  background-image: url('../img/bg.png');
  background-repeat: repeat;
}

/* main classes */


.bg-white {
  background: white;
}

.btn {
  font-weight: 300;
  display: inline-block;
  padding: .75rem 2rem;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  background-color: #000;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #414141;
}

/* main nav */
.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaebf0;
  background-color: #fff;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  margin-left: -.5rem;
  padding-top: .3rem;
}
/* links nav */
.links {
  padding-top: .4rem;
  padding-bottom: .4rem;
  text-align: right;
}
.links__item {
  padding-left: 2rem;
  text-decoration: none;
  color: #3e4247;
}
.links__item:hover,
.links__item:active,
.links__item:focus {
}

/* main hero */
.hero {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  background: #161616;
}

/* main headline */
.headline {
  max-width: 50rem;
  margin: auto;
  padding-top: 4.2rem;
  padding-bottom: 4rem;
  text-align: center;
}
.headline__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: .9rem;
  color: #3e4247;
}
.headline__description {
  line-height: 1.5;
  margin: 0;
  padding-bottom: 1rem;
  color: #3e4247;
}

/* main cards */
.cards {
  padding-bottom: 3rem;
}

.card {
  display: flex;
  height: 21.8rem;
  margin-bottom: 3rem;
  transition: .3s ease-in;
  text-decoration: none;
  color: #3e4247;
  border-bottom: 3px solid #646971;
  background-color: #fff;
}
.card:hover,
.card:active,
.card:focus {
  transition: .3s ease-in;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}

.card__info {
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
}
.card__subtitle {
  font-family: Menlo;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  color: #646971;
}
.card__title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
  padding-bottom: .5rem;
  color: #000;
}
.card__description {
  line-height: 1.5;
  margin: 0;
}


/* main footer */
.footer {
  font-size: .9rem;
  padding: 2.15rem 0;
  color: #a9afb6;
  background-color: #111;
}
.footer__heading {
  margin: 0;
  padding-bottom: .5rem;
}
.footer__heading--border {
  padding-top: 1.1rem;
  padding-bottom: .1rem;
  border-top: 3px solid #3e4247;
}
.footer__text {
  font-size: .6rem;
  margin: 0;
  padding-top: 6rem;
}
.footer__info {
  margin: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
/*   nav */
.footer__link {
  display: block;
  padding-top: .9rem;
  padding-bottom: 0rem;
  text-decoration: none;
  color: #fff;
}
.footer__link:hover,
.footer__link:active,
.footer__link:focus {
  text-decoration: underline;
}
.footer__link--arrow {
  padding-top: 1.2rem;
}
